<a href="https://colab.research.google.com/github/brianbojoyou0306/rinexproj1/blob/main/renex_project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/content/Training set.csv')
df

      Height  Weight     Sex
0     165.65   35.41  Female
1     148.53   74.45  Female
2     167.04   81.22    Male
3     161.54   71.47    Male
4     174.31   78.18    Male
...      ...     ...     ...
2995  150.83   49.66  Female
2996  157.09   64.34  Female
2997  162.99   45.58  Female
2998  154.76   48.92  Female
2999  185.08   82.74    Male

[3000 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  3000 non-null   float64
 1   Weight  3000 non-null   float64
 2   Sex     3000 non-null   object
dtypes: float64(2), object(1)
memory usage: 70.4+ KB

In [ ]:
x=df.iloc[:,0:2].values
y=df.iloc[:,2].values

In [ ]:
k=5
pred = [177.35,40]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=k,metric='euclidean')
model.fit(x,y)

KNeighborsClassifier(metric='euclidean')

In [ ]:
y_pred=model.predict([pred])
y_pred

array(['Male'], dtype=object)

In [ ]:
!pip install streamlit --quiet

In [ ]:
import joblib
joblib.dump(model,"gender")

['gender']

In [ ]:
%%writefile app.py
import streamlit as st
import joblib
model = joblib.load('gender')
import numpy as np 
st.title('GENDER CLASSIFIER')
ip1 = st.number_input('Enter the height')
ip2 = st.number_input('enter the weight')
ls=np.append(ip1,ip2)
op = model.predict([ls])
if st.button('predict'):
  st.title(op[0])

Writing app.py

In [ ]:
!streamlit run app.py & npx localtunnel --port 8501

2022-07-10 05:30:27.992 INFO    numexpr.utils: NumExpr defaulting to 2 threads.

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.2:8501
  External URL: http://35.199.49.43:8501

npx: installed 22 in 6.087s
your url is: https://free-schools-roll-35-199-49-43.loca.lt